<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NotKayıtProje.Properties.Settings.OkulProjeConnectionString"
            connectionString="Data Source=DESKTOP-I0KDOLK\SQLEXPRESS;Initial Catalog=OkulProje;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>